
.main-menu {
    display: block;
    text-align: center;
    background-color: #F5FCCD;
    padding: 30px; 
    border: 1px solid #ccc;
    border-radius: 30px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 450px; 
    margin: 0 auto;
}

.container-opciones {
    margin-top: 30px; 
}

.container-titulo h1 {
    font-size: 28px; 
    margin-bottom: 20px;
}

.btn-class button {
    display: block;
    width: 100%;
    padding: 15px; 
    margin-bottom: 15px; 
    font-size: 16px;
    background-color: #419197;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-class button:hover {
    background-color: #0056b3;
}
/*Estilos para mostrar el saldo*/
.saldo-container {
    background-color: #F5FCCD;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.saldo-container p {
    font-size: 18px;
    margin: 10px 0;
}

.saldo-container span {
    font-weight: bold;
}
/* diseño del historial */
#historial-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto; 
}
/* Estilos para los elementos del historial */
#historial-list div {
    margin: 5px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.container-lista {
    position: relative;
    max-width: 800px;
    width: 100%;
    border-radius: 15px;
    padding: 20px 30px 120px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 01);
    
}

/* En tu archivo de hoja de estilos CSS */
.titulo-historial {
    text-align: center; 
    padding: 10px 0; 
    background-color: #F5FCCD; 
    font-weight: bold; 
    margin-bottom: 20px;
}
.centrar-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-top: 20px;
}
/* Estilos para el botón en el historial */
.boton-historial {
    background-color: #12486B; 
    color: #FFFFFF; 
    font-size: 16px; 
    padding: 10px 20px; 
    border: none;
    border-radius: 15px;
    cursor: pointer; 
}

.boton-historial:hover {
    background-color: #78D6C6; 
   
}

#historial-container{
    margin-top: 20px;
    background-color: #419197;  
}
/* estilos para opciones container */
.opciones-container {
    background-color: #F5FCCD;
    padding: 20px; 
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 01);
    display: flex;
    justify-content: center;
}
.opciones-container p{
    padding: 6px;
}

.opciones-container button {
    background-color: #419197; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 15px;
    cursor: pointer; 
    margin-right: 10px; 
   
}


.opciones-container button:hover {
    background-color: #12486B; 
}

.opciones-container button:last-child {
    margin-right: 0; 
}
.opciones-container input[type="text"],
.opciones-container input[type="number"],
.opciones-container input[type="email"] {
    padding: 10px; 
    width: 250px; 
}
.opciones-container p {
    font-size: 20px; 
    font-weight: bold;
}
.opciones-container img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
/* diseño de las imagenes en los botones */
.container-img{
    display: flex;
    justify-content: center;
    
}

